html{
    font-family:'Segoe UI', sans-serif;

    background-image:url(./image/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.board{
    display: flex;
    margin: 0 auto;
    width: 1400px;
    height: 740px;
    flex-direction: column;
    background-color:white;
    border-radius: 10px;
}
.navigation{
    display: flex;
    align-items: center;
    height: 30px;
    width: 1400px;
    justify-content: space-between;
    background-color: rgb(74, 73, 73);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    form{
        margin-right: 75px;
        font-size: 13px;
        margin-top: 15px;
        align-items: center;
    }
    img{
        width: 30px;
        margin-right: 10px;
    }
}
.silka{
    margin-left: 10px;
    a{
        text-decoration: none;
        color: white;
        font-size: 13px;
    }
    a:hover{
        color: rgb(74, 73, 73);
        background-color: white;
    }
}


.image{
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 624px;
    margin: 0 auto;
}
.bigimage{
    padding: 10px;
    display: flex;
    height: 450px;
    width: auto;
    align-items: center;
    align-content: center;
    margin: 0 auto;

    img{
        width: 350px;
        height: 430px;
        margin: 0 auto;
    }
}
.smallimage{
    display: flex;
    width: 700px;
    height: 150px;
    justify-content: space-between;
    margin: 0 auto;

    img{
        margin-top: 10px;
        display: block;
        width: 100px;
        height: 100px;
    }

}
.producttitle{
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    height: 624px;
    margin: 0 auto;
    align-content: flex-start;
}
.product{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 auto;
}
.productname{
    display: flex;
    width: 700px;
    height: 75px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.productdescription{
    display: block;
    margin: 0 auto;
}
.productsize{
    display: inline-block;
    width: 150px;
    height: 55px;
    button{
        background-color: white;
        border-color: rgb(74, 73, 73);
        border-radius: 5px;
        padding: 3px;
        font-size: 14px;
    }
    button:hover{
        background-color: rgb(74, 73, 73);
        color: white;
    }
}
.productbutton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 55px;
    button{
        background-color: rgb(228, 13, 13);
        color: white;
        width: 200px;
        height: 55px;
    }
    button:hover{
        background-color: rgb(168, 12, 12);
        color: rgb(209, 209, 209);
    }
}
